<section class="outer">
  <article class="articles">
    <h1 class="page-type-title"><%- page.title %></h1>
    <ul class="tag-list">
      <%
        site.tags.forEach(tag => {
      %>
          <li class="tag-list-item">
            <a class="tag-list-link" href="/tags/<%- tag.name %>/"><%- tag.name %></a>
          </li>
      <%
        });
      %>
    </ul>
  </article>
</section>