@charset 'utf-8';
.about {
	color: #fff;
}
header {
}
/*loation*/
.location {
	position: relative;
	top: -74px;
	width: 100%;
	min-width: 558px;
	height: 800px;
	background-color: #999;
	background: url('../images/about.jpg') no-repeat;
	background-position: bottom;
	background-size: cover;
	z-index: -1;
}
.location-title,.localtion-content {
	display: none;
	position: relative;
	width: 100%;
	height: 50%;
}
.location-title>span {
	position: absolute;
	bottom: 20px;
	letter-spacing: 2px;
	text-align: center;
	left: 0;
	width: 100%;
	display: block;
	font-size: 2em;
	color: #fff;
	font-family: '黑体','微软雅黑','华文细黑',Arial;
}
.localtion-content>div {
	width: 100%;
}
.localtion-content>div>span {
	height: 22px;
	letter-spacing: 2px;
	line-height: 22px;
	font-size: 1.2em;
	text-align: center;
	display: block;
	width: 100%;
	color: #fff;
	font-family: '华文细黑','微软雅黑',Arial,'黑体';
}
/*time*/
.time,.map {
	position: relative;
	top: -74px;
	width: 80%;
	min-width: 860px;
	margin: 0 auto;
}
.time-each {
	width: 50%;
}
.time>div:nth-child(1) {
	padding-top: 50px;
}
.time-each:last-child {
	padding-bottom: 50px;
}
.time>div:nth-child(odd) {
	margin-left: 50%;
	border-left: 2px solid #eaeaea;
}
.time>div:nth-child(even) {
	margin-right: 50%;
	border-right: 2px solid #eaeaea;
}
.t-e-title,.r-e-content {
	text-indent: 15px;
	font-family: Arial,'微软雅黑';
	color: #9e9e9e;
}
.t-e-title {
	border-bottom: 2px solid #eaeaea;
	font-size: 2em;
	padding-bottom: 10px;
}
.r-e-content {
	font-size: 1em;
	padding-top: 10px;
}
.r-e-content>span {
	display: block;
	padding: 3px 0;
}
/*map*/
#map-wrap {
	width: 100%;
	height: 400px;
}
#map-wrap>div:nth-child(6),#map-wrap>div:nth-child(4) {
	display: none;
}
.map-brief {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	font-size: 1em;
	font-family: '微软雅黑';
}
.map-brief>span {
	color: #ababab;
	margin-right: 20px;
}
.map-brief>span>span {
	color: #333;
	margin: 0 5px;
}
@media only screen and (max-width:  ){}