@charset 'utf-8';
/*header*/
/*%%%%%%%%%%%%%%%%change - border-bottom */
header {
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	height: 72px;
	z-index: 99;
}
.header-top,.headr-menu {
	height: 100%;
	margin: 0 20px;
}
/*%%%%%%%%%%%%%%%%change - background-position*/
.header-brand {
	width: 128px;
	height: 72px;
	background: url('../images/brand.png') no-repeat center center;
	background-position: 0 0;
}
.header-nav {
	height: 72px;
	right: 0;
	top: 0;
}
/*%%%%%%%%%%%%%%%%change -color #666*/
.header-nav-each {
	line-height: 8px;
	height: 10px;
	margin: 31px 0;
	color: #ccc;
	color: rgba(255,255,255,0.8);
	letter-spacing: 1px;
}
/*%%%%%%%%%%%%%%%%change - color #444*/
.header-nav-each:hover{
	color: #fff;
}
.about {
	margin: 0 30px;
	padding: 0 30px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
/*select menu*/
.headr-menu {
	height: 40px;
	line-height: 40px;
	display: none;
	background-color: #7be27b;
	background-color: rgba(123,226,123,0.8);
}
.sel-menu {
	margin-left: 20px;
}
.header-menu-sel,.header-menu-con {
	height: 40px;
	line-height: 40px;
}
.header-menu-sel span,.header-menu-con a,.header-nav-each,.header-brand {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.header-menu-sel:hover .sel-menu {
	color: #555;
	text-shadow: 0 0 10px #fff;
}
#sel-extend {
	right: 0;
	top: 0;
	width: 25px;
	height: 15px;
	padding: 12.5px 0;
	margin-right: 20px;
}
.headr-menu:hover #sel-extend {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
#sel-extend em {
	height: 3px;
	width: 100%;
}
.header-menu-sel-mid {
	margin: 3px 0;
}
.header-menu-con {
	display: none;
	height: auto;
	background-color: #83ee83;
	background-color: rgba(131,238,131,0.8);
}
.header-menu-con a {
	padding-left: 20px;
	line-height: 30px;
	font-size: 16px;
	height: 30px;
}
.header-menu-con a:hover {
	color: #333;
}
.header-menu-check{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
/*dedia query*/
@media only screen and (max-width: 800px) {
	.header-brand {
		display: block;
		width: 148px;
		margin: 0 auto;
	}
	.header-nav {
		display: none;
	}
	.headr-menu {
		display: block;
	}
}