@charset 'utf-8';
/*public*/
body,html {
	overflow: hidden;
}
header {
	position: fixed;
}
.witch-all,.extend-top,.rD-left>span,.three-light span {
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: 	all 0.3s ease-out;
	-moz-transition: 	all 0.3s ease-out;
	-o-transition: 		all 0.3s ease-out;
	transition: 		all 0.3s ease-out;
}
/*self*/
.car {
	/*%%%%%%%%%%%%%%%change - color #444 */
	color: #fff;
}
/*extend*/
.extend {
	width: 60px;
	height: 350px;
	margin-right: 20px;
	top: 72px;
	right: 0;
	z-index: 2;
}
.extend-witch {
	width: 60px;
	height: 315px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.witch-all {
	width: 5px;
	height: 5px;
	border-radius: 2.5px;
	background-color: #999;
	margin: 0 0 30px 55px;
	box-shadow: 0px 0px 1px #f80;
}
.witch-add {
	background-color: #f80;
	box-shadow: 0px 0px 8px #666;
}
.witch-all:hover {
	background-color: #f80;
	box-shadow: 0px 0px 8px #666;
}
.extend-top {
	bottom: 0;left: 25px;
	width: 35px;
	height: 35px;
	background: url('../images/top.png') #567fb6 no-repeat;
}
.extend-top:hover {
	background-position: 0px -5px;
}
/*center*/
.center-all {
	height: 494px;
	min-width: 800px;
	overflow: hidden;
}
/*one*/
.center-one {
	background-color: #2a5bdc;
}
.one-left {
	float: left;
	height: 100%;
	width: 45%;
	background: url('../images/leftHand.jpg') no-repeat;
	background-position: left bottom;
	background-size: contain;
}
.one-right {
	float: left;
	height: 100%;
	width: 50%;
	padding-left: 5%;
}
.right-title {
	width: 100%;
	height: 50%;
}
.rT-left {
	float: left;
	height: 100%;
	width: 150px;
}
.rT-left span {
	width: 100%;
	height: 60px;
	line-height: 60px;
	bottom: 0;
	font-size: 46px;
	letter-spacing: 1px;
	text-indent: 4px;
}
.nine-rT-left span {
	color: #444;
}
.rT-right {
	float: left;
	height: 100%;
	width: 80px;
}
.rT-right span {
	height: 38px;
	line-height: 38px;
	font-size: 32px;
	color: #f80;
	bottom: 9px;
	width: 100%;
	border-radius: 19px;
	letter-spacing: 2px;
	margin-left: 20px;
}
.right-intro {
	width: 100%;
	height: 10%;
}
.rI-up {
	height: 50%;
}
.rI-up span {
	height: 30px;
	line-height: 30px;
	color: #e0e0e0;
	font-size: 15px;
	text-indent: 5px;
	letter-spacing: 1px;
}
.nine-rI-up span {
	font-size: 18px;
}
.rI-down {
	height: 50%;
}
.rI-down span {
	height: 30px;
	line-height: 30px;
	color: #e0e0e0;
	text-indent: 5px;
	letter-spacing: 1px;
	font-size: 18px;
	height: 50px;
	top: 0;
	left: 0;
}
.nine-rI-up span,.nine-rI-down span{
	color: #555;
}
.right-down {
	width: 100%;
	height: 40%;
}
.rD-left {
	width: 100%;
	height: 50%;
	float: left;
}
.rD-left>span:hover {
	box-shadow: 0px 0px 5px rgba(255,255,255,0.6);
}
.nine-rD-left>span:hover {
	box-shadow: 0px 0px 5px rgba(51,51,51,0.6);
}
.dL-up,.dL-down {
	float: left;
	width: 40%;
	min-width: 150px;
	max-width: 180px;
	height: 50px;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 15px;
	border-radius: 25px;
	background-color: #f80;
}
.dL-up {
	margin-bottom: 30px;
}
.dlImage {
	width: 50px;
	height: 50px;
}
.upImage {
	background: url('../images/download.png');
}
.downImage {
	background: url('../images/download.png');
	background-position: 0px 50px;
}
.dlText {
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	width: 100%;
	text-indent: 30px;
}
/*two*/
.two-top,.three-top,.four-top,.five-top,.six-top,.seven-top,.eight-top,.nine-top {
	width: 100%;
	height: 30%;
}
.two-top-wrap,.three-top-wrap,.four-top-wrap,.five-top-wrap,.six-top-wrap,.seven-top-wrap,.eight-top-wrap,.nine-top-wrap {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}
.two-top-wrap>span,.three-top-wrap>span,.four-top-wrap>span,.five-top-wrap>span,.six-top-wrap>span,.seven-top-wrap>span,.eight-top-wrap>span,.nine-top-wrap>span {
	bottom: 0;
	width: 100%;
}
.twTile {
	min-width: 910px;
	height: 40px;
	line-height: 40px;
	font-family: '华文细黑','Microsoft YaHei';
	-webkit-font-smoothing: antialiased;
	font-size: 50px;
	text-indent: 80px;
	color: #444;
}
.twContent {
	margin-top: 20px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-indent: 80px;
	color: #555;
}
.two-down,.three-down,.four-down,.five-down,.six-down,.seven-down,.eight-down {
	width: 100%;
	height: 70%;
}
.tD-image {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.two-image {
	background: url('../images/two.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}

.three-image {
	background: url('../images/three.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.five-image {
	background: url('../images/five.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.six-image {
	background: url('../images/six.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.seven-image {
	background: url('../images/seven.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.eight-image {
	background: url('../images/eight.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.nine-image {
	background: url('../images/nine.png') no-repeat;
	background-position: bottom;
	background-size: contain;
}
.tD-image-l {
	width: 60px;
	height: 71px;
	left: 40%;
	top: 50%;
	background: url('../images/p.png') no-repeat;
	background-size: contain;
}
.tD-image-r {
	width: 90px;
	height: 106px;
	left: 70%;
	top: 60%;
	background: url('../images/p.png') no-repeat;
	background-size: contain;
}
/*three*/
.center-three {
	background-color: #ffc000;
}
.three-light {
	top: 40px;
	left: 150px;
	width: 45px;
	padding: 5px;
	border-radius: 25px;
}
.three-light span {
	width: 45px;
	height: 45px;
	border-radius: 25px;
}
.light-red {
	box-shadow: 0px 0px 15px #f80;
	background-color: #f80;
}
.light-green,.light-yellow {
	background-color: #999;
}
.light-green {
	margin: 5px 0;
}
.three-car {
	bottom: 0;
	right: 0;
	width: 20%;
	height: 20%;
	background: url('../images/car.png') no-repeat bottom;
	background-size: contain;
}
/*four*/
.center-four {
	background-color: #50e29b;
}
.four-image>span {
	z-index: 1;
}
.fourION {
	width: 14%;
	height: 28%;
	left: 10%;
	top: 30%;
	background: url('../images/fourOne.png') no-repeat bottom center;
	background-size: contain;
}
.fourITW {
	width: 18%;
	height: 30%;
	left: 14%;
	top: 42%;
	background: url('../images/fourTwo.png') no-repeat bottom center;
	background-size: contain;
}
.fourITH {
	width: 30%;
	height: 50%;
	right: 10%;
	top: 20%;
	background: url('../images/fourThree.png') no-repeat bottom center;
	background-size: contain;
}
.fourAll {
	z-index: 0;
	bottom: -20%;
	border-top-left-radius: 50% 80%;
	border-top-right-radius: 50% 80%;
	width: 90%;
	height: 100%;
	margin: 0 5%;
	border: 1px solid #fff;
}
/*six*/
.center-six {
	background-color: #f6923a;
}
/*seven*/
.sevenStarOne {
	width: 5%;
	height: 8%;
	top: 76%;
	left: 6%;
	background: url('../images/sevenStarOne.png') no-repeat left bottom;
	background-size: contain;
}
.sevenStarTwo {
	width: 5%;
	height: 6%;
	top: 26%;
	left: 40%;
	background: url('../images/sevenStarTwo.png') no-repeat left bottom;
	background-size: contain;
}
/*eight*/
.center-eight {
	background-color: #3eb9f4;
}
.myFSpace {
	width: 80px;
}
/*nine*/
.center-nine {
	background: url('../images/nineBG.png') no-repeat;
	background-size: 100% 100%;
}
.nine-up {
	width: 100%;
	height: 100%;
}
.nine-left {
	width: 45%;
	height: 100%;
	float: left;
	background: url('../images/ninePhone.png') no-repeat right bottom;
	background-size: contain;
}
.nine-right {
	float: left;
	width: 50%;
	padding-left: 5%;
	height: 100%;
}
.nine-down {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	/*background-color: rgba(234,234,234,0.5);*/
	background-color: #eaeaea;
}
.nine-down span {
	height: 100%;
	width: 100%;
	font-size: 15px;
	color: #555;
	letter-spacing: 1px;
}
.nine-down span a {
	color: #555;
}
.nine-down span a:hover {
	color: #444;
}
@media only screen and (max-width: 1200px) {
	.three-light {
		left: 130px;
	}
}
@media only screen and (max-width: 1000px) {
	.three-light {
		left: 120px;
	}
}
@media only screen and (max-width: 800px) {
	.two-top,.three-top,.four-top,.five-top,.six-top,.seven-top,.eight-top,.nine-top {
		top: 10px;
		z-index: 1;
	}
	.two-top-wrap,.three-top-wrap,.four-top-wrap,.five-top-wrap,.six-top-wrap,.seven-top-wrap,.eight-top-wrap,.nine-top-wrap {
		width: 100%;
	}
	.tD-image {
		width: 650px;
		position: absolute;
		left: 0px;
	}
	.twTile {
		text-indent: 40px;
	}
	.twContent {
		text-indent: 40px;
	}
	.one-left,.nine-left {
		display: none;
	}
	.one-right,.nine-right {
		position: absolute;
		left: 20%;
		padding-left: 0;
		width: 55%;
	}
	.three-light {
		margin-left: 20px;
		left: 20px;
	}
	.fourITH {
		right: 16%;
	}
	.nine-down {
		width: 600px;
	}
	.myFSpace {
		width: 40px;
	}
	.sixPageOne {
		top: 28%;
	}
	.sixPageTwo {
		top: 65%;
	}
	.sevenStarOne {
		top: 80%;
		left: 3%;
	}
	.sevenStarTwo {
		top: 40%;
	}
}
@media only screen and (max-width: 600px) {
	.twTile {
		font-size: 25px;
		text-indent: 20px;
	}
	.twContent {
		text-indent: 20px;
	}
	.one-right,.nine-right {
		left: 20px;
	}
	.rT-left span {
		text-indent: 0;
		font-size: 30px;
	}
	.rT-right span {
		font-size: 20px;
		height: 26px;
		line-height: 26px;
		border-radius: 13px;
		width: 70%;
		bottom: 16px;
		left: -50px;
	}
	.rI-up span {
		text-indent: 0px;
		letter-spacing: 0px;
	}
	.nine-rI-up span {
		font-size: 15px;
	}
	.rI-down span {
		font-size: 15px;
		letter-spacing: 0px;
		text-indent: 0px;
	}
	.tD-image {
		width: 500px;
	}
	.tD-image-l {
		width: 40px;
		height: 46px;
	}
	.tD-image-r {
		width: 60px;
		height: 70px;
	}
	.rT-left span {
		text-align: left;
	}
	.dL-up,.dL-down {
		margin-left: 0px;
		min-width: 150px;
	}
	.dlText,.dL-up,.dL-down  {
		height: 45px;
		line-height: 45px;
	}
	.dlText {
		text-align: left;
		text-indent: 40px;
		font-size: 14px;
	}
	.dL-up {
		margin-bottom: 15px;
	}
	.dlImage {
		left: -10px;
		top: -2px;
	}
	.rD-left {
		width: 42%;
	}
	.fourITH {
		top: 2%;
		width: 25%;
		height: 50%;
	}
	.fourION {
		left: 2%;
	}
	.fourITW {
		left: 6%;
	}
	.nine-down {
		width: 450px;
	}
	.myFSpace {
		width: 20px;
	}
	.myBr {
		display: block;
	}
	.mySpace {
		display: inline-block;
		width: 20px;
	}
	.sixPageOne {
		top: 40%;
		height: 20%;
	}
	.sixPageTwo {
		top: 75%;
		height: 16%;
	}
	.sevenStarOne {
		height: 6%;
		top: 85%;
		left: 4%;
	}
	.sevenStarTwo {
		top: 55%;
	}
	.three-light {
		left: 0px;
	}
}
@media only screen and (max-width: 500px) {
	.tD-image {
		width: 380px;
	}
	.sixPageOne {
		top: 55%;
		height: 15%;
	}
	.sixPageTwo {
		top: 80%;
		height: 12%;
	}
	.sevenStarTwo {
		top: 65%;
	}
}
@media only screen and (max-width: 380px) {
	.tD-image {
		width: 280px;
	}
	.fourION {
		left: 12%;
	}
	.fourITW {
		left: 16%;
		top: 36%;
	}
	.nine-down {
		width: 320px;
	}
	.nine-down span {
		letter-spacing: 0;
	}
}