@charset 'utf-8';
body {
	margin-bottom: 50px;
}
.join {
	color: #fff;
}
/*title*/
.title {
	position: relative;
	top: -73px;
	z-index: -1;
	width: 100%;
	min-width: 422px;
	height: 800px;
	background-color: #50e29a;
}
.location-title,.localtion-content {
	display: none;
	position: relative;
	width: 100%;
	height: 50%;
}
.location-title>span {
	font-family: '微软雅黑',Arial;
	color: #fff;
	font-size: 3em;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	letter-spacing: 2px;
	left: 0;
	display: block;
}
.blank {
	display: inline-block;
	width: 1em;
}
.localtion-content>div {
	width: 100%;
	position: absolute;
	top: 20px;
}
.localtion-content>div>span {
	height: 22px;
	letter-spacing: 2px;
	line-height: 22px;
	font-size: 1.2em;
	text-align: center;
	display: block;
	width: 100%;
	color: #fff;
	font-family: '华文细黑','微软雅黑',Arial,'黑体';
}
/*join*/
.join-wrap,.join_talk {
	position: relative;
	top: -72px;
	width: 80%;
	min-width: 800px;
	margin: 0 auto;
	padding-bottom: 40px;
	margin-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
}
.join-title {
	width: 100%;
	height: 50px;
}
.join-title>ul {
	padding: 0;
	width: 100%;
	height: 100%;
	display: block;
	list-style-type: none;
}
.join-title>ul>li {
	height: 30px;
	cursor: pointer;
	line-height: 30px;
	font-family: '微软雅黑';
	margin-top: 18px;
	color: #333;
	float: left;
	font-size: 1.3em;
	margin-right: 25px;
}
.join-title>ul>li:nth-child(1) {
	border-bottom: 2px solid #50e29a;
}
.join-main {
	width: 100%;
}
#position_name {
	display: block;
	height: 30px;
	line-height: 30px;
	margin-top: 30px;
	font-size: 1.2em;
	color: #333;
	font-family: '微软雅黑';
}
.woek_describe,.work_duty {
	margin-top: 20px;
}
.woek_describe>span,.work_duty>span {
	display: block;
	height: 20px;
	line-height: 20px;
	margin-top: 30px;
	font-size: 1em;
	color: #333;
	font-family: '微软雅黑';
}
#describe,#duty {
	list-style-type: none;
}
#describe>li,#duty>li,.join_talk>span {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 1em;
	color: #3e3e3e;
	font-family: '微软雅黑';
}
.join_talk {
	border-bottom: none;
}
.join_talk>span {
	color: #ababab;
	text-align: center;
}
.to_me>em {
	font-style: normal;
	margin-left: 10px;
	color: #50e29a;
}