@charset 'utf-8';
body {
	margin: 0;
	padding: 0;
}
p,a {
	font-family: '微软雅黑';
	color: #333;
	display: block;
	width: 65%;
	margin: 0 auto;
	padding: 10px;
	letter-spacing: 2px;
}
.title,.description {
	text-align: center;
}
.title {
	font-size: 2em;
}
.description {
	font-size: 1em;
}
.menu {
	font-size: 1.4em;
}
.content {
	text-indent: 0.8em;
	text-indent: 1.8em;
	line-height: 1.5em;
}
.copy {
	text-align: right;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1.2em;
	color: #369;
	text-decoration:none;
}
.copy:hover {
	color: #148;
}