.navbar
  position relative
  display flex
  flex-direction column
  align-items center
  text-align center
  .nav
    list-unstyled()
    .nav-item-link
      display block
      padding 1rem;
      color sea-dark
      text-decoration none
      cursor pointer
      &:hover
        color link-hover-color
    &.nav-main
      .nav-item-link
        &::before, i.fe
          display block
          line-height 1
        &::before
          font-family 'feathericon'
      .nav-item
        &:nth-child(1)         // home
          .nav-item-link
            &::before
              content '\f12f'
        &:nth-child(2)         // archives
          .nav-item-link
            &::before
              content '\f12a'
        &:nth-child(3)         // gallery
          .nav-item-link
            &::before
              content '\f1a9'
        &:nth-child(4)         // about
          .nav-item-link
            &::before
              content '\f1bd'
        &:nth-child(5)         // tags
          .nav-item-link
            &::before
              content '\f153'

.navbar-bottom
  position absolute
  bottom 0
  width 100%

.logo
  width brand-size
  height brand-size
  position relative
  &::before
    content ''
    display block
    position absolute
    z-index -1
    top 0%
    left 10%
    width 80%
    height 80%
    opacity 0
    transform scale(.5)
    background-color: rgb(226, 229, 207)
    border-radius 50%
    transition(transition-logo)
  img
    width brand-size


