// Tags
.tag-list
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  .tag-list-item
    display: inline-block;
    padding: 0.5rem 1rem;
    &::before
      content: "\f153";
      font-family: feathericon;
      margin-right: 0.5rem;
