@charset 'utf-8';

/*图片滚动 特殊时间 1s*/

.i-ts1 {
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
}


/*roll Img*/

.roll-img {
    height: 366px;
    padding: 46px 0;
}


/*roll img wrap*/

.r-i-wrap figure {
    width: 99999px;
}


/*roll img item*/

.r-i-wrap div {
    overflow: hidden;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.r-i-wrap div::before {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: -10%;
    display: block;
    width: 120%;
    height: 120%;
    content: '';
    background-color: rgba(255, 255, 255, .8);
}

.r-i-wrap div.active {
    z-index: 1;
    cursor: zoom-in;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-cursor: zoom-in;
}

.r-i-wrap div.active::before {
    opacity: 0;
}


/*roll img 左右按钮*/

.r-i-prev,
.r-i-next {
    width: 140px;
    height: 366px;
}

.r-i-prev i,
.r-i-next i {
    position: relative;
    top: 50%;
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    margin: -15px auto 0 auto;
}

.r-i-prev i::before,
.r-i-next i::before {
    display: block;
    width: 28px;
    height: 28px;
    content: '';
    -webkit-transform: rotate(45deg) translateX(21px);
    -moz-transform: rotate(45deg) translateX(21px);
    -ms-transform: rotate(45deg) translateX(21px);
    -o-transform: rotate(45deg) translateX(21px);
    transform: rotate(45deg) translateX(21px);
    -webkit-transform-origin: 38px 15px;
    -moz-transform-origin: 38px 15px;
    -ms-transform-origin: 38px 15px;
    -o-transform-origin: 38px 15px;
    transform-origin: 38px 15px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #000, inset 0 0 1px #666;
}

.r-i-next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.r-i-wrap:hover .r-i-prev i,
.r-i-wrap:hover .r-i-next i {
    -webkit-transform: translateX(16px);
    -moz-transform: translateX(16px);
    -ms-transform: translateX(16px);
    -o-transform: translateX(16px);
    transform: translateX(16px);
}


/*视频播放*/

.r-i-viedo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    background: transparent url('../img/play.png');
    background-size: cover;
}


/*r-i mask 左 右 关闭 按钮*/

.r-i-m-prev,
.r-i-m-next,
.r-i-close {
    top: 50%;
    background-color: rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 2px 0 rgba(255, 255, 255, .6);
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, .6);
}

.r-i-m-prev::before,
.r-i-m-next::before,
.r-i-close::before {
    font-family: 'Songti', '宋体';
    font-size: 20px;
    line-height: 30px;
    display: block;
    width: 100%;
    content: '<';
    text-align: center;
    color: #fff;
}

.r-i-m-next::before {
    content: '>';
}

.r-i-close::before {
    font-family: 'Microsoft YaHei', '微软雅黑';
    line-height: 26px;
    content: 'x';
}

.r-i-close {
    position: absolute;
    top: 100px;
}
